{% extends 'base.html' %}
{% block content %}
    {% csrf_token %}
            <table class="table table-bordered" style="text-align:center">
                <tr>
                    <th class="td">id пользователя</th>
                    <th class="td">Дата подачи заявки</th>
                    <th class="td">Вид бланков</th>
                    <th class="td">Количество</th>
                    <th class="td">Статус заявки</th>
                    <th class="td">Диапазон номеров</th>
                    <th class="td">Дата выполнения заявки</th>
                    <th class="td">Операции</th>
                </tr>
                {% for request in user_requests %}
                <tr>
                    <td class="td">{{ request.user_id.id }}</td>
                    <td class="td">{{ request.date }}</td>
                    <td class="td">{{ request.doc_type }}</td>
                    <td class="td">{{ request.count }}</td>
                    <td class="td">
                        {% if request.status == 1%}
                        Черновик
                        {% elif request.status == 2%}
                        Отправлена
                        {% elif request.status == 3%}
                        Выполнена
                        {% endif %}
                        </td>
                    <td class="td">
                        {% if request.numbers != None %}
                            {{ request.numbers }}
                        {% else %}

                        {% endif %}
                    </td>
                    <td class="td">
                        {% if request.execution_date != None %}
                            {{ request.execution_date }}
                        {% else %}

                        {% endif %}
                    </td>
                    <td class="td">
                        {% if request.status == 2%}
                        <button class="btn btn-dark" type="submit">
                            <a class="text-light" href="/miac-submit-form/{{request.id}}">Редактировать</a>
                        </button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>

{% endblock %}