{% extends 'base.html' %}
{% block content %}
    {% csrf_token %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="row h-100 justify-content-end align-items-end" style="margin: 5px">
                <button class="btn btn-primary" style="font-size: 18px !important;" name="create" value="1">
                    <a class="text-light" href="/form">Создать заявку</a>
                </button></div>
            </li>
        </ul>
            <table class="table table-bordered" style="text-align:center">
                <tr>
                    <th class="td">Дата подачи заявки</th>
                    <th class="td">Вид бланков</th>
                    <th class="td">Количество</th>
                    <th class="td">Статус заявки</th>
                    <th class="td">Диапазон номеров</th>
                    <th class="td">Операции</th>
                </tr>
                {% for request in user_requests %}
                <tr>
                    <td class="td">
                        {% if request.date != None %}
                            {{ request.date }}
                        {% else %}

                        {% endif %}
                    </td>
                    <td class="td">{{ request.doc_type }}</td>
                    <td class="td">{{ request.count }}</td>
                    <td class="td">
                        {% if request.status == 1%}
                            Черновик
                        {% elif request.status == 2%}
                            Отправлена
                        {% elif request.status == 3%}
                            Выполнена
                        {% endif %}
                    </td>
                    <td class="td">{% if request.numbers != None %}
                            {{ request.numbers }}
                        {% else %}

                        {% endif %}</td>
                    <td class="td">
                        {% if request.status == 1 %}
                        <button class="btn btn-success" type="submit">
                            <a class="text-light" href="/mo_submit_button/{{request.id}}">Отправить</a>
                        </button>
                        <button class="btn btn-dark" type="submit">
                            <a class="text-light" href="/mo_update_button/{{request.id}}">Редактировать</a>
                        </button>
                        <button class="btn btn-danger" type="submit">
                            <a class="text-light" href="/mo_delete_button/{{request.id}}" style="color=white">Удалить</a>
                        </button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>

{% endblock %}
