{% extends 'base.html' %}
{% block content %}
    <form name='request_list' method="post">
        {% csrf_token %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="row h-100 justify-content-end align-items-end" style="margin: 5px">
                <button class="btn btn-primary" style="font-size: 18px !important;" name="create" value="1">
                    Создать заявку</button></div>
            </li>
        </ul>
            <table class="table table-bordered" style="text-align:center">
                <tr>
                    <td class="td">Дата подачи заявки</td>
                    <td class="td">Вид бланков</td>
                    <td class="td">Количество</td>
                    <td class="td">Статус заявки</td>
                    <td class="td">Диапазон номеров</td>
                    <td class="td">Операции</td>
                </tr>
                {% for request in user_requests %}
                <tr>
                    <td class="td">{{ request.date }}</td>
                    <td class="td">{{ request.doc_type }}</td>
                    <td class="td">{{ request.count }}</td>
                    <td class="td">
                        {% if request.status == 1%}
                            Черновик
                        {% elif request.status == 2%}
                            Отправлена
                        {% elif request.status == 3%}
                            Выполнена
                        {% endif %}
                    </td>
                    <td class="td">{{ request.numbers }}</td>
                    <td class="td">
                        <button class="btn btn-success" type="submit" name="{{request.id}}_send" value="clicked">
                            Отправить
                        </button>
                        <button class="btn btn-dark" type="submit" name="{{request.id}}_update" value="clicked">
                            Редактировать
                        </button>
                        <button class="btn btn-danger" type="submit" name="{{request.id}}_delete" value="clicked">
                            Удалить
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </table>
    </form>

{% endblock %}
